// Colors (names: http://name-of-color.com/)
$background: #E7EEF6;
$element: #D9E5F0;

$box-shadow: darkgrey;
$icon-box-shadow: #d1d9e6;

$primary-color: #405173;
$white: #ffffff;
$orange: #ED8138;
$gray: gray;

$font-size-medium: 16px;